<div class="row">
    <div class="col-12 p-o mt-3">
        <breadcrumb
        [primeraRouta]="'/gestor-logistico'"
        [primerNombre]="'Pedidos'"
        [segundonombre]="'Detalles de Pedido'"
        [segundoActivo]="true"
        ></breadcrumb>
    </div>
</div>

<div class="row">
    <div class="col-12 font mt-5 ms-5">
        <p class="title">Detalles de Articulo</p>
    </div>
</div>

<div class="px-5 my-5" *ngIf="detallesArticulo != undefined">
    <div class="row px-5">
        <div class="col-4">
            <h1>Numero de Articulo</h1>
            <p class="font fs-5" style="font-weight: bold;">{{detallesArticulo.id_articulo_clinica}}</p>
        </div>
        <div class="col-4">
            <h1>Nombre</h1>
            <p class="font fs-5" style="font-weight: bold;">{{detallesArticulo.nombre}}</p>
        </div>
        <div class="col-4">
            <h1>Estado</h1>
            <p class="font fs-5" style="font-weight: bold;">{{detallesArticulo.estado}}</p>
        </div>
    </div>
    
    <div class="row px-5 my-5">
        <div class="col-4">
            <h1>Stock Actual</h1>
            <p class="font fs-5" style="font-weight: bold;">{{detallesArticulo.lotes_disponibles}}</p>
        </div>
        <div class="col-4">
            <h1>Stock Minimo <fa-icon [icon]="faPenToSquare" class="mx-2 icon-calender fa-1x" data-bs-toggle="modal" data-bs-target="#cambiarMinimos"></fa-icon></h1>
            <p class="font fs-5" style="font-weight: bold;">{{detallesArticulo.stock_minimo}}</p>
        </div>
        <div class="col-4">
            
            <h1>Pedido Automatico <fa-icon [icon]="faPenToSquare" class="mx-2 icon-calender fa-1x" data-bs-toggle="modal" data-bs-target="#cambiarAutomatico"></fa-icon></h1>
            <p *ngIf="detallesArticulo.pedido_automatico == 0" class="font fs-5" style="font-weight: bold;">Desactivado</p>
            <p *ngIf="detallesArticulo.pedido_automatico == 1" class="font fs-5" style="font-weight: bold;">Activado</p>
        </div>
    </div>
</div>

<div class="row px-5 my-5">
    <div class="col-6">
        <app-ventana-dos-opciones [seccion1]="'Pedidos'" [seccion2]="'Solicitudes'" (datoEnviado) = "recibirDato($event)"></app-ventana-dos-opciones>
    </div>
</div>

<div class="row px-5" *ngIf="activeTab == 'Pedidos'">
    <div class="col-8">
        <table datatable *ngIf="existir" [dtOptions]="dtOptions" class="table table-hover font">
            <thead>
                <tr style="background-color: #0062ca;">
                    <th>NºPedido</th>
                    <th>Proveedor</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pedido of pedidosProveedores" class="pointer">
                    <td>{{ pedido.id_pedido }}</td>
                    <td>{{ pedido.nombre }}</td>
                    <td>{{ pedido.lotes_recibidos }}</td>
                    <td><fa-icon [icon]="faEye" class="mx-2 icon-calender fa-1x"  data-bs-dismiss="modal" (click)="verDatosPedido(pedido.id_pedido)"></fa-icon></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row px-5" *ngIf="activeTab == 'Solicitudes'">
    <div class="col-8">
        <table datatable *ngIf="existir" [dtOptions]="dtOptions" class="table table-hover font">
            <thead>
                <tr style="background-color: #0062ca;">
                    <th>NºSolicitud</th>
                    <th>Departamento Solicitante</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pedido of solicitudesDepartamentos" class="pointer">
                    <td>{{ pedido.id_pedido }}</td>
                    <td>{{ pedido.nombre }}</td>
                    <td>{{ pedido.lotes_recibidos }}</td>
                    <td><fa-icon [icon]="faEye" class="mx-2 icon-calender fa-1x"  data-bs-dismiss="modal" (click)="verDatosSolicitud(pedido.id_pedido)"></fa-icon></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="cambiarMinimos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-2 m-5">
            <p class="font fs-2 mb-5 text-center">Stock Minimo</p>
            <div *ngIf="detallesArticulo != undefined">

                <div class="row">
                    <div class="col-6">
                        <h3 class="fs-5" style="font-weight: 500;">Stock Minimo Actual</h3>
                        <p class="fs-6 font">{{detallesArticulo.stock_minimo}}</p>
                    </div>
                    <div class="col-6">
                        <h3 class="fs-5" style="font-weight: 500;">Stock A Pedir</h3>
                        <form [formGroup]="formularioMinimos">
                            <input class="form-control" type="number" formControlName="numeroMinimo" id="numeroMinimo" [min]="0" (onchange)="verificar($event)" (input)="verificar($event)">
                            <span *ngIf="error" class="form-text text-danger fs-6" >*La cantidad debe de ser mayor que 1</span>
                         </form>
                    </div>
                </div>
               </div>  

               <div class="row">
                <div class="col-12 d-flex justify-content-between mt-4">
                        <button type="button" class="btn btn-personalized" data-bs-dismiss="modal" (click)="mantenerValorMinimo()">Close</button>
                        <button type="button"  *ngIf="error" class="btn  btn-personalized">Cambiar Minimo</button>
                        <button type="button" *ngIf="!error" class="btn  btn-personalized" data-bs-dismiss="modal" (click)="cambiarMinimo()">Cambiar Minimo</button>
                </div>
            </div>
             
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="cambiarAutomatico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-2 m-5">

            <div *ngIf="detallesArticulo != undefined">
                <form [formGroup]="formularioAutomatico">

                        <div class="row">
                            <div class="col-12">
                                <h3 class="fs-5" style="font-weight: 500;">Estado</h3>
                                <select class="form-select" [(ngModel)]="automatico" formControlName="automatico" id="automatico" (change)="deshabilitar()">
                                    <option value="0" selected>Desactivado</option>
                                    <option value="1">Activado</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-6">
                                <h3 class="fs-5" style="font-weight: 500;">Proveedores</h3>
                                <select class="form-select" [(ngModel)]="detallesAutomatico.id_proveedor" formControlName="proveedores" id="proveedores">
                                    <option *ngFor="let proveedor of proveedores" [value]="proveedor.id_proveedor">
                                        {{proveedor.nombre_proveedor}}
                                    </option>
                                </select>
                                <span *ngIf="error" class="form-text text-danger fs-6" >*Debe seleccionar un proveedor</span>
                            </div>

                            <div class="col-6">
                                <h3 class="fs-5" style="font-weight: 500;">Stock A Pedir</h3>
                                <input class="form-control" type="number" formControlName="cantidad" id="numeroAutomatico" [min]="1" (onchange)="verificar($event)" (input)="verificar($event)">
                                <span *ngIf="error" class="form-text text-danger fs-6" >*La cantidad debe de ser mayor que 1</span>
                            </div>
                        </div>
                   
                </form>
               </div>  

                <div class="row">
                    <div class="col-12 d-flex justify-content-between mt-4">
                        <button type="button" class="btn btn-personalized" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-personalized" data-bs-dismiss="modal" (click)="cambiarAutomatico()">Guardar</button>
                    </div>
               </div>
        </div>
      </div>
    </div>
</div>

