<div class="row">
    <div class="col-12 p-o mt-3">
        <breadcrumb
        [primeraRouta]="'/gestor-logistico'"
        [primerNombre]="'Pedidos'"
        [segundonombre]="'Crear Pedido'"
        [segundoActivo]="true"
        ></breadcrumb>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-5 ms-5">
        <p class="h1">Crear Pedido</p>
    </div>
</div>

<div class="row d-flex justify-content-start">
    <div class="col-11 text-center mt-3">
        <app-dos-pasos-formulario></app-dos-pasos-formulario>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-5 ms-5">
        <p class="h5">Escoja los productos</p>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-tabla-articulos-formulario></app-tabla-articulos-formulario>
    </div>
    <div class="col-6">
        <app-tabla-carrito-formulario></app-tabla-carrito-formulario>
    </div>
</div>

