<div class="row">
    <div class="col-12 p-o mt-3">
        <breadcrumb
        [primeraRouta]="'/gestor-logistico'"
        [primerNombre]="'Solicitudes'"
        [segundonombre]="'Detalles de Solicitud'"
        [segundoActivo]="true"
        ></breadcrumb>
    </div>
</div>

<div class="row">
    <div class="col-12 font my-5 ms-5">
        <p class="h1">Detalles de Solicitud</p>
    </div>
</div>

<div class="row px-5 ms-5">
    <div *ngIf="detalles != undefined" class="col-6 ps-5 ms-5">
        <div class="row my-5">
            <div class="col-6">
                <h1>Nº Solicitud</h1>
                <p class="font fs-5" style="font-weight: bold;">{{detalles.solicitud}}</p>
            </div>
            <div class="col-6">
                <h1>Numero de Articulos</h1>
                <p class="font fs-5" style="font-weight: bold;">{{detalles.numero_productos}}</p>
            </div>
        </div> 
        <div class="row my-5">
            <div class="col-6">
                <h1>Departamento Solicitante</h1>
                <p class="font fs-5" style="font-weight: bold;">{{detalles.nombre_departamento}}</p>
            </div>
            <div class="col-6">
                <h1>Fecha de Pedido</h1>
                <p class="font fs-5" style="font-weight: bold;">{{detalles.fecha_inicial}}</p>
            </div>
        </div>   
        <div class="row my-5">
            <div class="col-6">
                <h1>Jefe de Departamento</h1>
                <p class="font fs-5" style="font-weight: bold;">{{detalles.nombre_jefe}}</p>
            </div>
            <div class="col-6" *ngIf="detalles.fecha_aceptada!=undefined">
                <h1>Fecha de Aceptacion</h1>
                <p class="font fs-5" style="font-weight: bold;">{{detalles.fecha_aceptada}}</p>
            </div>
        </div>  
    </div>

    <div class="col-5 px-1">
        <table datatable *ngIf="existir" [dtOptions]="dtOptions" class="table table-hover font">
            <thead>
                <tr style="background-color: #0062ca;">
                    <th>Nombre</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pedido of articulos" class="pointer">
                    <td>{{ pedido.nombre }}</td>
                    <td>{{ pedido.cantidad }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

