<div class="row">
    <div class="col-12 p-o mt-3">
        <breadcrumb
        [primeraRouta]="'/gestor-logistico'"
        [primerNombre]="'Pedidos'"
        [segundonombre]="'Detalles de Pedido'"
        [segundoActivo]="true"
        ></breadcrumb>
    </div>
</div>

<div class="row">
    <div class="col-12 font mt-5 ms-5">
        <p class="h1">Detalles de Articulo</p>
    </div>
</div>

<div class="row">
    <div *ngIf="detalles != undefined" class="col-4">
        <div class="row">
            <div class="col-12">
                <h2>Departamento Solicitante</h2>
                <h3>{{detalles.nombre_departamento}}</h3>
            </div>
        </div>   
        <div class="row">
            <div class="col-12">
                <h2>Jefe de Departamento</h2>
                <h3>{{detalles.nombre_jefe}}</h3>
            </div>
        </div>  
        <div class="row">
            <div class="col-12">
                <h2>Fecha de Pedido</h2>
                <h3>{{detalles.fecha_inicial}}</h3>
            </div>
        </div> 
        <div class="row" *ngIf="detalles.fecha_aceptada!=undefined">
            <div class="col-12">
                <h2>Fecha de Aceptacion</h2>
                <h3>{{detalles.fecha_aceptada}}</h3>
            </div>
        </div>  
    
        <div class="row">
            <div class="col-12">
                <h2>Numero de Articulos</h2>
                <h3>{{detalles.numero_productos}}</h3>
            </div>
        </div>   
    </div>

    <div class="col-8">
        <table datatable *ngIf="existir" [dtOptions]="dtOptions" class="table table-hover font">
            <thead>
                <tr style="background-color: #0062ca;">
                    <th>Nombre</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pedido of articulos" class="pointer">
                    <td>{{ pedido.nombre }}</td>
                    <td>{{ pedido.cantidad }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

