.label-style{
    font-size: 24px;
    font-weight: bold;
}
.btn-personalized{
    background-color: #092C4C;
    color: white;
    height: 40px;
    width: 170px;
}

.tituloTabla{
    background-color: #092C4C;
    color: white;
    font-weight: bold;
}

.form-check-input{
    border-width: 3px;
    border-color: #092C4C;
}

.form-check-input:checked{
    background-color: #72bdff;
}

.textoTabla{
    color: #092C4C;
    font-weight: bold;
}

.contenedor-style{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    border: 1px solid #092C4C;
    border-radius: 10px;
    font-size: 20px;
}
.con-style{
    display: flex;
}

.modal-content{
    background-color: #EBF3FA;
  }
