<form *ngIf="existir" [formGroup] = "formData" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="informe" class="label-style color mb-3">Informe</label>
                <textarea class="form-control" name="informe" cols="10" rows="20" 
                          formControlName='informe'></textarea>
            </div>

            <span *ngIf="errorInforme" class="d-flex text-danger">
                *Este campo es obligatorio
            </span>
        </div>
        <div class="col-6 px-5">
            <div class="form-group">
                <label for="informe" class="label-style color mb-3">Tratamientos</label>
                <textarea class="form-control" name="informe" cols="10" rows="20" 
                formControlName='tratamientos'></textarea>
            </div>
            <span *ngIf="errorTratamiento" class="d-flex text-danger">
                *Este campo es obligatorio
            </span>
        </div>
        <div class="row">
            <div class="col-9" *ngIf="formData.valid">
                <button type="submit" class="btn btn-personalized mt-5" data-bs-toggle="modal" data-bs-target = "#modal">
                    <span class="mx-2">
                        <fa-icon [icon]="faFloppyDisk"></fa-icon>
                    </span>
                    Guardar
                </button>
            </div>

            <div class="col-9" *ngIf="formData.invalid">
                <button type="submit" class="btn btn-personalized mt-5">
                    <span class="mx-2">
                        <fa-icon [icon]="faFloppyDisk"></fa-icon>
                    </span>
                    Guardar
                </button>
            </div>

            <div class="col-3">
                <button type="button" style="width: 300px;" class="btn btn-personalized mt-5" data-bs-toggle="modal" data-bs-target = "#seleccionarArticulos">
                    Materiales Utilizados
                </button>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="seleccionarArticulos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
          
        <div class="modal-body p-5">
            <p class="font fs-2 mb-5">Articulos Utilizados Durante La Cita </p>
            <div class="row">
                <div class="col-12 px-5">
                    <table *ngIf="existir" class="table table-hover border" >
                        <thead >
                            <tr  class="text-center">
                                <th class="tituloTabla">Nombre</th>
                                <th class="tituloTabla">Categoria</th>
                                <th class="tituloTabla">Cantidad</th>
                                <th class="tituloTabla"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let articulo of articulosInventario " class="pointer text-center">
                                <td class="textoTabla">{{ articulo.nombre_articulo }}</td>
                                <td class="textoTabla">{{ articulo.nombre_categoria }}</td>
                                <td>
                                    <input class="form-control" *ngIf="estado == 'pendiente'" type="number" id="cantidad{{articulo.id_articulo_clinica}}" (change)="cambiarValor($event, articulo.id_articulo_clinica)" disabled value="0" min="0" max="{{articulo.estado}}">
                                    <input class="form-control" *ngIf="estado != 'pendiente' && articulo.numero_lotes == 0" type="number" id="cantidad{{articulo.id_articulo_clinica}}" (change)="cambiarValor($event, articulo.id_articulo_clinica)" disabled value="0" min="0" max="{{articulo.estado}}">
                                    <input class="form-control" *ngIf="estado != 'pendiente' && articulo.numero_lotes != 0" type="number" id="cantidad{{articulo.id_articulo_clinica}}" (change)="cambiarValor($event, articulo.id_articulo_clinica)" value="{{articulo.numero_lotes}}" min="0" max="{{articulo.estado}}">
                                </td>
                                <td>
                                    <input class="form-check-input" *ngIf="estado == 'pendiente'" type="checkbox" (change)="activar($event, articulo.id_articulo_clinica )">
                                    <input class="form-check-input" *ngIf="estado != 'pendiente' && articulo.numero_lotes == 0" type="checkbox" (change)="activar($event, articulo.id_articulo_clinica )">
                                    <input class="form-check-input" *ngIf="estado != 'pendiente' && articulo.numero_lotes != 0" type="checkbox" (change)="activar($event, articulo.id_articulo_clinica )" checked>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-12 d-flex flex-row-reverse">
                            <button type="button" class="btn btn-personalized mt-3" data-bs-dismiss="modal">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

