.modal-content {
    background-color: #EBF3FA;
  }

  .btn-personalized{
    background-color: #092C4C;
    color: white;
    height: 40px;
    width: 170px;
}

.tituloTabla{
  background-color: #092C4C;
  color: white;
  font-weight: bold;
}
  
.textoTabla{
  color: #092C4C;
  font-weight: bold;
}