<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 px-5">

            <div class="row py-5">
                <div class="col-12">
                    <h1 class="title color">Inventario</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-7 d-flex mb-5 justify-content-between">
                    <app-cuadro-informativo-medico></app-cuadro-informativo-medico>
                    <app-cuadro-informativo-medico></app-cuadro-informativo-medico>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12 px-4">
                    <app-tabla-inventario-medico></app-tabla-inventario-medico>
                </div>
            </div>
        </div>
    </div>
</div>
