<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 px-5">

            <div class="row py-5">
                <div class="col-12">
                    <p class="title color">Proveedores</p>
                </div>
            </div>

            <div class="row">
                <div class="col-8 d-flex mb-5 justify-content-between">
                    <app-cuadro-informativo [TituloDeCuadro]="'Articulos por Debajo del Stock Minimo'" [icono]="'articulosMinimos'" [size]="'25rem'" [numeroDeCosas]="numero" (click) = "proveedores()"></app-cuadro-informativo>
                </div>
                <div class="col-2 mt-5 d-flex flex-row-reverse">
                    <a class="mt-4" href="/app/gestor-logistico/proveedores/agregar-proveedor"><button type="button" class="btn font btn-personalized me-1 mt-5">Añadir Proveedor</button></a>
                 </div>
            </div>

            <div class="row mt-2">
                <div class="col-10 px-3">
                    <table datatable [dtOptions]="dtOptions" *ngIf="existir" class="table table-hover border font" >
                        <thead >
                            <tr >
                                <th>NIF</th>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let proveedores of contenido" class="pointer text-center">
                                <td >{{ proveedores.nif }}</td>
                                <td >{{ proveedores.nombre }}</td>
                                <td >{{ proveedores.telefono }}</td>
                                <td >{{ proveedores.email }}</td>
                                <td> <fa-icon [icon]="faEye" class="mx-2 icon-calender fa-1x"  data-bs-dismiss="modal" (click)="mirarDetalles(proveedores.id_proveedor)"></fa-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="botonModalProveedores" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered modal-xl">
              <div class="modal-content">
                  
                <div class="modal-body p-5">
                    <p class="font fs-2 mb-5">Proveedores con 
                        Pedidos en Transito</p>
                    <div class="row">
                        <div class="col-12 px-5">
                            <table *ngIf="existir" class="table table-hover border" >
                                <thead >
                                    <tr  class="text-center">
                                        <th class="tituloTabla">Proveedores</th>
                                        <th class="tituloTabla">Nº de pedidos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let proveedor of contenidoModal " class="pointer text-center">
                                        <td class="textoTabla">{{ proveedor.nombre }}</td>
                                        <td class="textoTabla">{{ proveedor.cantidad }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-12 d-flex flex-row-reverse">
                                    <button type="button" class="btn btn-personalized mt-3" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        
        <button #botonModalProveedores type="button" style="display: none;" data-bs-toggle="modal" data-bs-target="#botonModalProveedores"></button>
    </div>
</div>
