<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 px-5">

            <div class="row py-5">
                <div class="col-12">
                    <h1 class="title color">Pedidos</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-10 d-flex mb-5 justify-content-between">
                    <app-cuadro-informativo-medico [TituloDeCuadro]="'Pedidos Pendientes'" [numeroDeCosas]="contenido.pedidos_pendientes" [icono]="'pedidoPendiente'" [size]="'17rem'"></app-cuadro-informativo-medico>
                    <app-cuadro-informativo-medico [TituloDeCuadro]="'Pedidos Recibidos'" [numeroDeCosas]="contenido.pedidos_aceptados" [icono]="'pedidoRecibidos'" [size]="'17rem'"></app-cuadro-informativo-medico>
                    <app-cuadro-informativo-medico [TituloDeCuadro]="'Articulos En Minimos'" [numeroDeCosas]="contenido.articulosEnMinimos" [icono]="'articulosMinimos'" [size]="'17rem'"></app-cuadro-informativo-medico>
                </div>
            </div>

            <div class="row">
                <div class="col-6 mb-5 ms-3"> <!--Este apartado despliega los componentes que correspondan a una ruta especifica-->
                                            <!--El switch decide si se debe de mostrar el listado de citas o el perfil del paciente en cuestion-->
                    <app-ventana-dos-opciones-medico 
                    [seccion1] = "'Pendientes'" 
                    [seccion2] = "'Recibidos'"
                    (datoEnviado) = "recibirDato($event)">
                    </app-ventana-dos-opciones-medico>
                </div>

                <div class="col-4  d-flex flex-row flex-row-reverse" >
                    <button type="button" class="btn font btn-personalized me-3" (click)="crearPedido()">Crear Pedido</button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-10 px-3">
                    <app-tabla-pedidos-pendientes *ngIf="activeTab === 'Pendientes'"></app-tabla-pedidos-pendientes>
                    <app-tabla-pedidos-aceptados *ngIf="activeTab === 'Recibidos'"></app-tabla-pedidos-aceptados>
                </div>
            </div>
        </div>
    </div>
</div>
<app-mensaje-confirmacion></app-mensaje-confirmacion>
