<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 px-5">

            <div class="row py-5">
                <div class="col-12">
                    <h1 class="title color">Pedidos</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-7 d-flex mb-5 justify-content-between">
                    <app-cuadro-informativo-medico [TituloDeCuadro]="'Pedidos Pendientes'" [numeroDeCosas]="1"></app-cuadro-informativo-medico>
                    <app-cuadro-informativo-medico [TituloDeCuadro]="'Pedidos Recibidos'" [numeroDeCosas]="2"></app-cuadro-informativo-medico>
                    <app-cuadro-informativo-medico [TituloDeCuadro]="'Articulos En Minimos'" [numeroDeCosas]="3"></app-cuadro-informativo-medico>
                </div>
            </div>

            <div class="row">
                <div class="col-6 mb-5 ms-3"> <!--Este apartado despliega los componentes que correspondan a una ruta especifica-->
                                            <!--El switch decide si se debe de mostrar el listado de citas o el perfil del paciente en cuestion-->
                    <app-ventana-dos-opciones-medico 
                    [seccion1] = "'Pendientes'" 
                    [seccion2] = "'Recibidos'"
                    (datoEnviado) = "recibirDato($event)">
                    </app-ventana-dos-opciones-medico>
                </div>

                <div class="col-5 d-flex flex-row flex-row-reverse h-50">
                    <button type="button" (click)="crearPedido()">Crear Pedido</button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12 px-4">
                    <app-tabla-pedidos-pendientes *ngIf="activeTab === 'Pendientes'"></app-tabla-pedidos-pendientes>
                    <app-tabla-pedidos-aceptados *ngIf="activeTab === 'Recibidos'"></app-tabla-pedidos-aceptados>
                </div>
            </div>
        </div>
    </div>
</div>
<app-mensaje-confirmacion></app-mensaje-confirmacion>
