<table datatable *ngIf="existir" [dtOptions]="dtOptions" class="table table-hover font">
    <thead>
        <tr style="background-color: #0062ca;">
            <th>NºPedido</th>
            <th>Fecha de Pedido</th>
            <th>Numero de Productos</th>
            <th>Coste Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of pedidos" class="pointer">
            <td>{{ pedido.id_pedido }}</td>
            <td>{{ pedido.fecha_inicial }}</td>
            <td>{{ pedido.numero_productos }}</td>
            <td>{{ pedido.coste }}</td>
            <td>
                <fa-icon [icon]="faEye" class="mx-2 icon-calender fa-1x" (click)="mirarDetalles(pedido)"></fa-icon>
                <fa-icon [icon]="faSquareCheck" class="mx-2 icon-calender fa-1x" (click)="seleccionarPedido(pedido.id_pedido)" data-bs-toggle="modal" data-bs-target="#preguntaRecibir"></fa-icon>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="preguntaRecibir" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body my-4">
            <p class="font fs-4 text-center my-4">¿Esta seguro de recibir el pedido?</p>
            <div class="row mt-5">
                <div class="col-12 d-flex justify-content-evenly">
                    <button type="button" class="btn btn-personalized" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-personalized" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#pedidoRecibido" (click)="recibirPedido(this.id_pedidoSeleccionado)">Recibir Pedido</button>
                </div>
            </div>
        </div>    
      </div>
    </div>
</div>

<app-mensaje-confirmacion [texto]="'Pedido Recibido'" [idModal]="'pedidoRecibido'"></app-mensaje-confirmacion>
