<div class="row">
    <div class="col-12 p-o mt-3">
        <breadcrumb
        [primeraRouta]="'/gestor-logistico'"
        [primerNombre]="'Proveedores'"
        [segundonombre]="'Detalles de Proveedor'"
        [segundoActivo]="true"
        ></breadcrumb>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-5 ms-5">
        <p class="h1">Detalles de {{proveedor.nombre}}</p>
    </div>
</div>

<div class="row">
    <div class="d-flex col-6 mb-5 ms-3"> <!--Este apartado despliega los componentes que correspondan a una ruta especifica-->
                                <!--El switch decide si se debe de mostrar el listado de citas o el perfil del paciente en cuestion-->
        
    </div>
</div>
